/*CSS for Wild Cats */
body{
	
	background: #808080;
		
}

section{

	width: 80%;
	height: 90%;
	background: #000;
	margin-top: 5%;
	margin-left: 2%;
		
}

.intro{

	color: #fff;
	width: 20%;
	font-size: 0.85em;
	padding: 2%;
	float: right;

}

.main{

	margin-left: 2%;
	margin-bottom: 2%;
	margin-top: 2%;


}

.nextButton{

	background: #006400;
	color: #fff;
	width: 10%;
	text-align: center;
	float: right;
	margin-right: 2%;
}

#lion{

	margin-left: 2%;
	color: #fff;
	


}

#lion > h2{


}

#tiger{

	margin-left: 2%;

}

#leopard{

	margin-left: 2%;

}

#snow{

	margin-left: 2%;

}
#cheetah{

	margin-left: 2%;
	
}